$BACKGROUND_COLOR: #fafafa;
$BACKGROUND_COLOR_DARKER: #eeeeee;

$THEME_COLOR_TEXT: #fff;

$THEME_COLOR_PRIMARY: #ff9800;
$THEME_COLOR_ACTIVE: #f57c00;
$THEME_COLOR_SECOND: #f57c00;

$DANGER: #ff7979;
$DANGER_ACTIVE: #eb4d4b;
$SUCCESS: #9ccc65;

$BASE_FONT_SIZE: 20px;
